includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - app/
        - bootstrap/app.php
        - config/
        - database/
        - routes/

    level: 7

    ignoreErrors:
        -
            message: '#Call to method download\(\) on an unknown class Rap2hpoutre\\FastExcel\\Exportable\.#'
            path: app/Http/Controllers/ReportController.php
        -
            message: '#Call to method download\(\) on an unknown class Rap2hpoutre\\FastExcel\\Exportable\.#'
            path: app/Http/Controllers/TransactionController.php
